#game-board {
    border-collapse: separate;
    border-spacing: 5px;
    border: 1px solid black;
    margin: 0 auto;
}

td {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    border: 1px solid black;
}

.hidden {
    display: none;
}

.visible {
    display: block;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    width: fit-content;
}
